.result-container {
  display: flex;
  flex-direction: column;
}

.search-result-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

h3 {
  margin-top: 50px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button:disabled {
  cursor: default;
  border: none;
}
