:root {
  --border: rgba(0, 0, 0, 0.2);
  --shadow: #000;
  --heading: rgba(255, 100, 0, 1);
  --main: #1d8f13;
  --text: #000;
  --textAlt: #fff;
  --inactive: rgba(0, 0, 0, 0.3);
  --background: #fff;
}

h1,
h3,
p,
span {
  color: var(--text);
}

h2 {
  color: var(--heading);
}

.header {
  display: flex;
  width: 100%;
  border: solid 1px red;
  justify-content: end;
  align-items: end;
}

.Switch {
  border-color: var(--border);
}

.icon {
  color: var(--inactive);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

*:not(body) {
  transition: all 0.5s ease;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  margin: 5% 15%;
}

.Switch {
  width: 4rem;
  height: 2rem;
  margin: 2rem 0;
  position: relative;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 4px 4px 10px -3px black;
  background: none;
  padding: 0;
}

.Switch .icon {
  font-size: 1.3rem;
}

.active {
  color: var(--heading);
}

@media (min-width: 450px) {
  .App {
    margin: 5% 20%;
  }
}

@media (min-width: 700px) {
  .App {
    margin: 5% 30%;
  }
}

@media (min-width: 900px) {
  .App {
    margin: 5% 35%;
  }
}

@media (min-width: 1350px) {
  .App {
    margin: 5% 40%;
  }
}
